{% extends 'base.html.twig' %}

{% block metas %}
    {{ parent() }}
    <meta name="title" content="The Blog - Login" />
    <meta name="description" content="Jobsity's PHP Challenge by Alicia Euceda">
{% endblock %} 

{% block title %}Log in{% endblock %}

{% block stylesheets %}
  {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}

<!-- Outer Row -->
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <section class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="mb-3 text-center">
                                <i class="fa fa-user-circle-o fa-4x text-primary" aria-hidden="true"></i>         
                            </div>
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Login</h1>
                            </div>                  

                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <div class="mb-3 text-center">
                                    <p><br>You are already logged in as {{ app.user.username }}</p>
                                </div>
                            {% else %}
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <form method="post">
                                    <div class="form-group">
                                      <input type="email" value="{{ last_username }}" class="form-control" name="email" id="inputEmail" placeholder="Enter Email Address..." required autofocus>
                                    </div>

                                    <div class="form-group">
                                      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                    </div>

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                    <div class="checkbox mb-3">
                                        <label><input type="checkbox" name="_remember_me"> Remember me</label>
                                    </div>

                                    <button class="btn btn-lg btn-block btn-primary" type="submit">Log in</button>
                                </form>
                            {% endif %} 
                            <br><hr><br>                  
                            <div class="text-center">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a class="btn btn-lg btn-secondary" href="{{ path('logout') }}">Logout</a>                        
                                {% else %}
                                    <a class="btn btn-lg btn-success" href="{{ path('register') }}">Create an Account!</a>
                                {% endif %} 
                            </div>                  
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
