{% extends 'base.html.twig' %}

{% block metas %}
    {{ parent() }}
    <meta name="title" content="The Blog - Register" />
    <meta name="description" content="Jobsity's PHP Challenge by Alicia Euceda">
{% endblock %} 

{% block title %}Register{% endblock %}

{% block stylesheets %}
  {{ parent() }}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block content %}
<!-- Register new account Column -->
<div class="card o-hidden border-0 shadow-lg my-5">
  	<div class="card-body p-0">
	    <!-- Nested Row within Card Body -->
	    <section class="row">
	      	<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
	      	<div class="col-lg-7">
	        	<div class="p-5">
		          	<div class="text-center">
		            	<h1 class="h4 text-gray-900 mb-4">Create an Account</h1>
		          	</div>

		          	{{ form_start(registrationForm) }}
		          		<div class="form-group row">
			              	<div class="col-sm-6 mb-3 mb-sm-0">
			                	{{ form_row(registrationForm.username) }}
			              	</div>
			              	<div class="col-sm-6">
			                	{{ form_row(registrationForm.twitterUsername) }}
			              	</div>
			            </div>

			            <div class="form-group">
			              	{{ form_row(registrationForm.email) }}
			            </div>

			            <div class="form-group">
			              	{{ form_row(registrationForm.password.first) }}
			            </div>

			            <div class="form-group">
			              	{{ form_row(registrationForm.password.second) }}
			            </div>

				        <button class="btn btn-lg btn-primary btn-block">Register</button><br>
				    {{ form_end(registrationForm) }} 

	          		<hr>
	          		<div class="text-center">
	            		<br><a class="small" href="{{ path('login') }}">Already have an account? Login!</a>
	          		</div>
	        	</div>
	      	</div>
	    </section>
  </div>
</div>
{% endblock %}

