// Twitter widget
$hidden-tweet-text-color: #aaa;
$tweet-body-title: 18px;
$tweet-body-text: 14px;
$tweet-content-padding: 15px 0 15px;
$retweeted-text-display: block;

// Login & Register
$login-image-background: url('../images/login-background.jpg');
$register-image-background: url('../images/login-background.jpg');
$background-position: center;
$background-size: cover;

// Flash message
$flash-message-width: 100%;
$flash-message-margin: 30px 10px 10px;

// Form
$form-margin: 10px 0 50px;

// Body
$body-padding-top: 56px;

// Entry
$entry-img-width: 100%;
$entry-img-height: auto;