{% extends 'entry/new.html.twig' %}

{% block metas %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="The Blog - Edit Entry" />
    <meta name="description" content="Jobsity's PHP Challenge by Alicia Euceda">
{% endblock %} 

{% block title %}Edit Entry{% endblock %}

{% block innerTitle %}Modify entry{% endblock %}

{% block button %}
    <button type="submit" class="btn btn-success">Save</button>
{% endblock %}
