{% extends 'base.html.twig' %}

{% block metas %}
    {{ parent() }}
    <meta name="title" content="The Blog - New Entry" />
    <meta name="description" content="Jobsity's PHP Challenge by Alicia Euceda">
{% endblock %} 

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('entry') }}
{% endblock %}

{% block title %}New Entry{% endblock %}

{% block content %}
    <section class="col-md-12">
        <header><h1 class="my-4">{% block innerTitle %}Create an entry{% endblock %}</h1></header>
        {{ form_start(entryForm) }}
	    {{ form_row(entryForm.title) }}
	    {{ form_row(entryForm.content) }}
        {% block button %}
            <button class="btn btn-success">Create</button>
        {% endblock %}
	    {{ form_end(entryForm) }}      
    </section>
{% endblock %}
