{% extends 'base.html.twig' %}

{% block metas %}
    {{ parent() }}
    <meta name="title" content="The Blog - Entries by {{ userSlug }}" />
    <meta name="description" content="Entries by {{ userSlug }}">
{% endblock %}    

{% block stylesheets %}
  {{ parent() }}
    {{ encore_entry_link_tags('tweet_show') }}
{% endblock %}

{% block content %}
  <div class="row">
  	<!-- Blog Entries Column -->
    <section class="col-md-8">
        <header><h1 class="my-4">Entries by {{userSlug}}</h1></header>
        {% if entriesCount > 0 %}
          {% include 'components/_entry_info.html.twig' with {'entries' : entries} %}
        {% else %}
          No entries found
        {% endif %}  
        {% include 'components/_paginator_author_slug.html.twig' with { 'urlName' : app.request.attributes.get('_route'), 'thisPage': thisPage, 'maxPages' : maxPages, 'userSlug' : userSlug } %}
    </section>

  	<!-- Sidebar Widgets Column -->
    <aside class="col-md-4">
     	<!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Author's Tweets</h5>
          <div class="card-body">
            {{ render(controller(
  	        'App\\Controller\\AuthorController::showTweets', {userSlug: userSlug}
  	        )) }}
          </div>
        </div>
    </aside>
  </div>
  <!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tweet_show') }}
{% endblock %}