{% extends 'base.html.twig' %}

{% block metas %}
    {{ parent() }}
    <meta name="title" content="The Blog" />
    <meta name="description" content="Jobsity's PHP Challenge by Alicia Euceda">
{% endblock %} 

{% block content %}
	<div class="row">
	    <!-- Blog Entries Column -->
	    <section class="col-md-12">
	        <header><h1 class="my-4">Recent entries</h1></header>
	        {% include 'components/_entry_info.html.twig' with {'entries' : entries} %}
	        {% include 'components/_paginator.html.twig' with { 'urlName' : app.request.attributes.get('_route'), 'thisPage': thisPage, 'maxPages' : maxPages } %}
	    </section>
    </div>
  	<!-- /.row -->
{% endblock %}




