{% if tweets is defined %}
<ul class="list-unstyled">
    {% for tweet in tweets %}

        {% if tweet.hidden == true %}
            {% if tweet.owner == true %}
                <li class="tweet-content media border-bottom hidden-tweet" data-tweet-content-id="{{ tweet.id }}">
                    <img src="{{ tweet.profile.profile_image }}" class="mr-3 rounded-circle" alt="Twitter profile image">
                    <div class="media-body">                        
                        <h5 class="tweet-body-title mt-0">                     
                            {% if tweet.retweeted == true %}
                                <small class="retweeted-text text-muted">{{ tweet.profile.name }} Retweeted</small>
                                {{ tweet.retweeted_info.name }}
                                {% if tweet.retweeted_info.verified == true %}
                                    <i class="fa fa-check-circle text-primary" aria-hidden="true"></i>
                                {% endif %}
                                <small class="text-muted">@{{ tweet.retweeted_info.screen_name }}</small>
                            {% else %}
                                {{ tweet.profile.name }}
                                {% if tweet.profile.verified == true %}
                                    <i class="fa fa-check-circle text-primary" aria-hidden="true"></i>
                                {% endif %}
                                <small class="text-muted">@{{ tweet.profile.screen_name }}</small>
                            {% endif %}
                        </h5>

                        <div class="tweet-body-text">
                            {{ tweet.text|raw }}
                        </div>

                        <div class="d-flex bd-highlight">                            
                            <div class="p-2 bd-highlight">
                                <i class="fa fa-retweet text-secondary" aria-hidden="true"></i> 
                                {% if tweet.retweeted == true %}
                                    {{ tweet.retweeted_info.retweet_count }}
                                {% else %}
                                    {{ tweet.retweet_count }}
                                {% endif %}
                            </div>
                            <div class="p-2 bd-highlight">
                                <i class="fa fa-heart text-secondary" aria-hidden="true"></i>
                                {% if tweet.retweeted == true %}
                                    {{ tweet.retweeted_info.favorite_count }}
                                {% else %}
                                    {{ tweet.favorite_count }}
                                {% endif %}
                            </div>
                            <div class="p-2 flex-grow-1 bd-highlight text-right">
                                <a class="badge badge-warning show-hide-tweet text-body" data-action="show" data-tweet-id="{{ tweet.id }}" href="javascript:void(0)">Show tweet</a>
                            </div>
                        </div>
                  </div>
                </li>
            {% endif %}
        {% else %}
            <li class="tweet-content media border-bottom" data-tweet-content-id="{{ tweet.id }}">
                <img src="{{ tweet.profile.profile_image }}" class="mr-3 rounded-circle" alt="Twitter profile image">
                <div class="media-body">
                    <h5 class="tweet-body-title mt-0">                     
                        {% if tweet.retweeted == true %}
                            <small class="retweeted-text text-muted">{{ tweet.profile.name }} Retweeted</small>
                            {{ tweet.retweeted_info.name }}
                            {% if tweet.retweeted_info.verified == true %}
                                <i class="fa fa-check-circle text-primary" aria-hidden="true"></i>
                            {% endif %}
                            <small class="text-muted">@{{ tweet.retweeted_info.screen_name }}</small>
                        {% else %}
                            {{ tweet.profile.name }}
                            {% if tweet.profile.verified == true %}
                                <i class="fa fa-check-circle text-primary" aria-hidden="true"></i>
                            {% endif %}
                            <small class="text-muted">@{{ tweet.profile.screen_name }}</small>
                        {% endif %}
                    </h5>

                    <div class="tweet-body-text">
                        {{ tweet.text|raw }}
                    </div>

                    <div class="d-flex bd-highlight">                            
                        <div class="p-2 bd-highlight">
                            <i class="fa fa-retweet text-secondary" aria-hidden="true"></i> 
                            {% if tweet.retweeted == true %}
                                {{ tweet.retweeted_info.retweet_count }}
                            {% else %}
                                {{ tweet.retweet_count }}
                            {% endif %}
                        </div>
                        <div class="p-2 bd-highlight">
                            <i class="fa fa-heart text-secondary" aria-hidden="true"></i>
                            {% if tweet.retweeted == true %}
                                {{ tweet.retweeted_info.favorite_count }}
                            {% else %}
                                {{ tweet.favorite_count }}
                            {% endif %}
                        </div>
                        <div class="p-2 flex-grow-1 bd-highlight text-right">
                            {% if tweet.owner == true %}
                                <div><a class="badge badge-secondary show-hide-tweet" data-action="hide" data-tweet-id="{{ tweet.id }}" href="javascript:void(0)">
                                    Hide tweet
                                </a></div>
                            {% endif %}
                        </div>
                    </div>
              </div>
            </li>
        {% endif %}  
            
    {% endfor %}
</ul>
{% else %}
    There are no tweets to display
{% endif %}
