@import './helper/variables';

@import 'sweetalert2/src/sweetalert2.scss';

.tweet-body-text {
    font-size: $tweet-body-text;
}
li.tweet-content {
    padding: $tweet-content-padding;
}
.tweet-body-title{
	font-size: $tweet-body-title;
}
.retweeted-text{
	display: $retweeted-text-display;
}
.hidden-tweet * {
    color: $hidden-tweet-text-color;
}
.hidden-tweet i {
    color: $hidden-tweet-text-color!important;
}
