{% apply spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block metas %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}    

        <title>{% block title %}The Blog{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    {% endblock %}

</head>

<body>
    <header>
      {% include 'components/_navbar.html.twig' %}
    </header>

    <!-- Page Content -->
    <main role="main" class="container">

        <div class="row">
        {% block messages %}
            {% if app.request.hasPreviousSession %}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div id="flash_message" class="alert alert-{{ label }} flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endblock %}
        </div>
        {% endapply %}
        {% block body %}
            {% block content %}{% endblock %}
        {% endblock %}
        {% apply spaceless %}
    </main>
    <!-- /.container -->

    {% block footer %}
        <!-- Footer -->
        <footer class="py-5 bg-dark ">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright © The Blog by Alicia Euceda {{ 'now' | date('Y') }}</p>
            </div>
            <!-- /.container -->
        </footer>
    {% endblock %}    

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</body>
</html>
{% endapply %}