{% if entries is defined %}
    {% for entry in entries %}
        <!-- Blog Post -->
        <article class="entry-container card mb-4">          
            <div class="card-body">
                <header><h2 class="card-title">{{ entry.title }}</h2></header>
                {{ entry.content | raw }}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if entry.email == app.user.email %}
                        <p><a href="{{ path('editEntry', {slug: entry.entrySlug}) }}" class="btn btn-primary">Edit Entry</a></p>
                    {% endif %}
                {% endif %}                
            </div>
            <div class="card-footer text-muted">
                Posted on {{ entry.creationDate | date("d/m/Y H:i:s") }} by
                <a href="{{ path('authorHomepage', {userSlug: entry.userSlug}) }}">{{ entry.username }}</a>
            </div>
        </article>
    {% endfor %}
{% endif %}
