<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ path('homepage') }}">The Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('newEntry') }}">Add Entry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('logout') }}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('register') }}">Register</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
