{% if maxPages > 1 %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li {{ thisPage == 1 ? 'class="page-item disabled"' : 'page-item' }}>
                <a class="page-link" aria-label="Previous" href="{{ path(urlName, {currentPage: thisPage-1 < 1 ? 1 : thisPage-1, 'userSlug' : userSlug}) }}">
                    Previous
                </a>
            </li>
            {% if thisPage+15 < maxPages  %}
                {% for i in thisPage..thisPage+15 %}
                    <li {{ thisPage == i ? 'class="page-item active"' : 'class="page-item"' }}>
                        <a class="page-link" href="{{ path(urlName, {currentPage: i, 'userSlug' : userSlug}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            {% else %}
                {% set dif  = maxPages-thisPage %}
                {% set left = 15-dif %}
                {% if thisPage-left <= 0  %}
                    {% for i in 1..thisPage+dif %}
                        <li {{ thisPage == i ? 'class="page-item active"' : 'class="page-item"' }}>
                            <a class="page-link" href="{{ path(urlName, {currentPage: i, 'userSlug' : userSlug}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for i in thisPage-left..thisPage+dif %}
                        <li {{ thisPage == i ? 'class="page-item active"' : 'class="page-item"' }}>
                            <a class="page-link" href="{{ path(urlName, {currentPage: i, 'userSlug' : userSlug}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endif %}
            <li {{ thisPage == maxPages ? 'class="page-item disabled"' : 'page-item' }}>
                <a class="page-link" href="{{ path(urlName, {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage, 'userSlug' : userSlug}) }}">
                    Next
                </a>
            </li>
        </ul><br>
        <p class="black-text center-align">Total pages: {{ maxPages }}</p>
    </nav>
{% endif %}